/node_modules
/public/storage
/public/hot
/public/files
/public/xfiles
/public/zipFile
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
/storage/files/*
/config/credentials.php
composer.lock
/bootstrap/cache
/storage/framework/cache