@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);.rt-content-header {
  padding: 0px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.rt-content-header h1 {
  float: left;
}

.rt-content-header .breadcrumb {
  top: 0px;
  right: 0px;
  padding: 7px 0px;
}

.rt-modal .close {
  opacity: 0.8;
  margin-top: 0px;
}

.rt-modal .flash-message {
  display: none;
}

.rt-modal .flash-message .alert {
  padding: 10px 15px;
  font-size: 12px;
  line-height: 22px;
}

.company-summary-widget .rtSmallBox {
  background: #fff;
  width: 100%;
  min-height: 135px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.company-summary-widget .rtSmallBox .inner {
  padding: 20px;
  border-bottom: 1px solid #f3f5f9;
}

.company-summary-widget .rtSmallBox .inner .title {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #636b6f;
}

.company-summary-widget .rtSmallBox .inner .counter {
  font-size: 32px;
  font-weight: 500;
  color: #000;
  display: block;
}

.company-summary-widget .rtSmallBox small {
  display: block;
  text-align: center;
  color: #9b9b9b;
  margin-top: 5px;
}

.company-summary-widget .rtSmallBox .smallBoxfooter {
  border-top: 1px solid #f3f5f9;
  display: block;
  text-align: center;
  padding: 5px 0px;
  color: #9b9b9b;
  font-size: 12px;
  font-weight: 400;
}

.company-summary-widget .smallBoxfooter:hover,
.company-summary-widget .smallBoxfooter:active,
.company-summary-widget .smallBoxfooter:visited,
.company-summary-widget .smallBoxfooter:focus {
  text-decoration: none;
}

.company-summary-widget .rtSmallBox .icon {
  position: absolute;
  background: #05668d;
  right: 20px;
  top: 25px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.company-summary-widget .rtSmallBox .icon i {
  color: #fff;
  text-align: center;
  display: block;
  font-size: 28px;
  line-height: 2.2em;
}

.company-summary-widget .rtSmallBox #invoiceIcon {
  background: #fa6340;
}

.company-summary-widget .rtSmallBox #clientRequestIcon {
  background: #10cdef;
}

.company-summary-widget .rtSmallBox #employeeIcon {
  background: #15b1b8;
}

.rtDataTable .cancelled {
  background: #f3f3f3;
  font-style: italic;
}

.rtDataTable .docket-label-container,
.rtDataTable .invoice-label-container {
  height: 30px;
  margin-top: 15px;
}

.rtDataTable .docket-label-container .item-wrapper,
.rtDataTable .invoice-label-container .item-wrapper {
  position: absolute;
}

.rtDataTable .docket-label-container .item-wrapper ul,
.rtDataTable .invoice-label-container .item-wrapper ul {
  list-style-type: none;
  marign: 0px;
  padding: 0px;
}

.rtDataTable .docket-label-container .item-wrapper ul li,
.rtDataTable .invoice-label-container .item-wrapper ul li {
  display: inline-block;
  color: #fff;
  font-size: 10px;
  padding: 3px 25px 3px 10px;
  border-radius: 15px;
  position: relative;
}

.rtDataTable .docket-label-container .item-wrapper ul li button,
.rtDataTable .invoice-label-container .item-wrapper ul li button {
  padding: 0px;
  height: 14px;
  border-radius: 50%;
  width: 14px;
  margin: 0px;
  position: absolute;
  right: 4px;
  top: 3px;
  font-size: 8px;
  opacity: 0.6;
  transition: 0.2s;
}

.rtDataTable .docket-label-container .item-wrapper ul li button:hover,
.rtDataTable .invoice-label-container .item-wrapper ul li button:hover {
  opacity: 1;
  transition: 0.2s;
}

.rtDataTable .docket-label-container .item-wrapper ul li button:hover span,
.rtDataTable .invoice-label-container .item-wrapper ul li button:hover span {
  color: #000;
}

.rtDataTable .docket-label-container .item-wrapper ul li button span,
.rtDataTable .invoice-label-container .item-wrapper ul li button span {
  color: #666;
}

.rtDataTable .sent-docket-preview {
  padding: 5px 10px;
  background: #fafafa;
  border: 1px dotted #ddd;
  line-height: 1.5em;
  font-size: 12px;
}

.rtNavBar .navbar,
.navbar.navbar-default {
  background-color: #fff !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.rtNavbar {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: scroll;
}

.rtNavBar .nav li.active::before {
  content: "";
  width: 15px;
  height: 7px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #dedfe3;
  position: absolute;
  bottom: 0px;
  left: calc(50% - 15px);
}

.twoLinesWrapper {
  height: 60px;
  overflow: hidden;
  position: absolute;
  width: 375px;
}

.topNavRight {
  height: 60px;
  background: #022e55;
  left: 300px;
  right: 0px;
  position: absolute;
}

.topNavRight .user-image {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  margin-right: 5px;
  margin-top: -3px;
  border: 1px solid #ffffff;
}

.twoLines {
  margin-left: 300px;
}

.twoLines:before {
  content: " ";
  background-color: #15b1b8;
  position: relative;
  left: -6px;
  top: -70px;
  display: inline-block;
  height: 200px;
  width: 35px;
  transform: rotate(-50deg);
}

.twoLines:after {
  content: " ";
  background-color: #aadfe3;
  position: relative;
  left: -90px;
  top: -70px;
  display: inline-block;
  height: 200px;
  width: 35px;
  transform: rotate(-50deg);
  z-index: 2;
}

.rtNavbar .topNavbar {
  background: #022e55;
}

.rtNavbar .topNavbar::after {
  background: #fff;
  position: absolute;
  content: " ";
  width: 20%;
  height: 60px;
  left: 0px;
  top: 0px;
}

